<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
    <app-submenu></app-submenu>
    <mat-card>
        <mat-card-content>  
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <div class="container">
    <br>
    <h2>LIST ACCEPT PEOPLE</h2>   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Asal Sekolah</th> 
                <th>Status</th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor="let data of datasMhs">
                <td>{{data.namaMhs}}</td>
                <td>{{data.emailMhs}}</td>
                <td>{{data.namaAsalSekolah}}</td>
                <td>{{data.status}}</td>
              </tr>      
        </tbody>
    </table>
  </div> 
  </body>
</mat-card-content>    
</mat-card>
</div>
